html, body, ._wrap, ._layout, main {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

main { position: relative; }

.logo {
  background-image: url('./img/reverse_logo.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.absolute-full {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

/* nav */
.top-nav {
  position: fixed;
  top: 22px;
  right: 26px;
  display: flex;
  z-index: 46;
  opacity: 0;
  transition: opacity 1.5s;
}

.top-nav a {
  text-decoration: none;
}

.top-nav__btn {
  height: 18px;
  margin: 0 10px;
  font-size: 17px;
  font-weight: 800;
  color: #fff;
}

/**/
.page-intro { z-index: 50; }
.reverse-detail { z-index: 45; }

/* main */
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  transition: all 1.5s;
}

.page-intro video {
  width: auto;
  height: 100%;
}

.display-blur {
  background-color: #00000090;
  transition: background-color .5s;
}

.intro-logo {
  position: fixed;
  width: 74%;
  min-width: 130px;
  max-width: 500px;
  aspect-ratio: 367/147;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 60;
  cursor: pointer;
  
  /* script */
  margin-top: 50px;
  opacity: 0;
  transition: all 1.5s, margin 1.6s, opacity 2.3s;
}

.intro-logo:hover ~ .display-blur {
  background-color: #000000c0;
}

/**/
.reverse-detail {
  background-color: #000;
  background-image: url('./img/reverse_part2_bg1.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

.main-menu {
  width: 100%;
  height: 100%;
  padding: 58px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  transition: opacity 1.5s;
  opacity: 0;
}

.main-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: background-color .5s;
  border-radius: 25px;
  margin: 0 3%;
  word-break: keep-all;
  text-align: center;
  position: relative;
}

.main-menu__item span {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.main-menu__item:hover {
  background-color: #33333360;
}

.bg-youtube:hover { background-color: #33232360; }
.bg-gall:hover { background-color: #33354d60; }

/**/
@media screen and (max-width: 800px) {
  .main-menu {
    padding: 120px 16px 30px 16px;
    grid-template-columns: 1fr;
  }

  .main-menu__item {
    border-radius: 16px;
    margin: 0;
  }

  .main-menu__item span {
    font-size: 18px;
  }
}